body {
    background-color: #e9edc9;
    font-family: 'Arial', sans-serif; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #283618;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.nav-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #bc6c25;
    border: 1px solid #bc6c25;
    border-radius: 5px;
    margin-right: 10px;
} 

.nav-button:hover {
    background-color: #dda15e;
}

.person-container {
    display: flex;
    justify-content: space-around;
    background-color: #e9edc9;
    padding: 20px;
}

.person-box {
    flex: 0 0 calc(25% - 6px); 
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px; 
    text-align: center;
    box-sizing: border-box;
    background-color: #ccd5ae;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.person-box img {
    max-width: 50%; 
    height: auto;
    margin-bottom: 10px;
}


.linkedin-link {
    color: #283618;
    text-decoration: none;
    font-weight: bold;
}
