/* home_style.css */

body {
    background-color: #e9edc9;
    font-family: 'Arial', sans-serif; 
  }
  
  header {
      background-color: #283618;
      color: #fff; /* Set text color to white for better contrast */
      padding: 10px; /* Add padding for better spacing */
      text-align: center;
    }

    .nav-button {
      display: inline-block;
      padding: 10px 20px;
      text-decoration: none;
      color: #fff;
      background-color: #bc6c25;
      border: 1px solid #bc6c25;
      border-radius: 5px;
      margin-right: 10px;
    } 

    .nav-button:hover {
      background-color: #dda15e;
    }