/* home_style.css */

body {
    background-color: #fff;
    font-family: 'Arial', sans-serif; 
  }
  
  header {
      background-color: #283618;
      color: #fff; /* Set text color to white for better contrast */
      padding: 10px; /* Add padding for better spacing */
      text-align: center;
    }

    .nav-button {
      display: inline-block;
      padding: 10px 20px;
      text-decoration: none;
      color: #fff;
      background-color: #bc6c25;
      border: 1px solid #bc6c25;
      border-radius: 5px;
      margin-right: 10px;
    } 

    .nav-button:hover {
      background-color: #dda15e;
    }

/*Map legend*/
/*Borrowed from https://codepen.io/haakseth/pen/KQbjdO*/
.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: rgb(224, 224, 224);
  background: rgba(224, 224, 224, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}