/* home_style.css */

body {
    background-color: #d1daf1;
    font-family: 'Arial', sans-serif; 
  }
  
  header {
      background-color: #333;
      color: #fff; /* Set text color to white for better contrast */
      padding: 10px; /* Add padding for better spacing */
    }

    .nav-button {
      display: inline-block;
      padding: 10px 20px;
      text-decoration: none;
      color: #fff;
      background-color: #333;
      border: 1px solid #333;
      border-radius: 5px;
      margin-right: 10px;
    } 

    .nav-button:hover {
      background-color: #555;
    }