<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outbreaks in Toronto Healthcare Institutions</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about_style.css') }}">
</head>

<body>
    <header>
        <h1>About Us</h1>
        
        <!-- Navigation Bar -->
        <nav>
            <a href="{{ url_for('home') }}" class="nav-button">Home</a>
            <a href="{{ url_for('about') }}" class="nav-button">About</a>
            <a href="{{ url_for('dashboard') }}" class="nav-button">Dashboard</a>
            <!-- Add more links as needed -->
        </nav>
    </header>  

    <div class="person-container">
        <div class="person-box">
            <img src="static/images/fanny.jpg" alt="Fanny Sigouin">
            <h2>Fanny Sigouin</h2>
            <p>Hello! I'm Fanny Sigouin, an aspiring data analyst.</p>
            <a href="https://www.linkedin.com/in/fannysigouin/" class="linkedin-link" target="_blank">LinkedIn</a>
        
        </div>

        <div class="person-box">
            <img src="path/to/your/image.jpg" alt="Ahmed Elpannnann">
            <h2>Ahmed Elpannnann</h2>
            <p>Description.</p>
            <a href="Your email or linkedin address" class="linkedin-link" target="_blank">LinkedIn</a>

        </div>

        <div class="person-box">
            <img src="static\images\Olufemi.jpg" alt="Olufemi Olarewaju">
            <h2>Olufemi Emmanuel Olarewaju</h2>
            <p>Hello! I'm Olufemi Emmanuel Olarewaju, an aspiring Data Engineer.</p>
            <a href="https://www.linkedin.com/in/olufemi-emmanuel-olarewaju-533b59171/" class="linkedin-link" target="_blank">LinkedIn</a>

        </div>

        <div class="person-box">
            <img src="static/images/vinay.jpg" alt="Vinay Vattipally">
            <h2>Vinay Vattipally</h2>
            <p> Welcome! I'm Vinay Vattipally, a passionate data enthusiast currently immersed in a dynamic bootcamp focused on data analytics. 
            My journey includes hands-on experience with Flask, where I've contributed to crafting the backend magic that powers our project.
            Beyond Flask, I've designed and implemented engaging user experiences for the Home, About, and Dashboard pages, ensuring a 
            seamless and aesthetically pleasing interface. My commitment to detail extends to the intricacies of CSS, where each line 
            of code contributes to a visually stunning user interface.
                       
            Let's connect and explore the endless possibilities that data analytics has to offer!.</p>
            <a href="Your email or linkedin address" class="linkedin-link" target="_blank">LinkedIn</a>

        </div>

    </div>
</body>
</html>