<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outbreaks in Toronto Healthcare Institutions</title>
    <!-- if using html use this path -->
    <!-- link rel="stylesheet" href="../static/css/home_style.css"> -->
    <!-- if using flask uncomment the following line  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Leaflet JavaScript code -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

    <!-- Extra Markers Icons -->
  <script src="static/js/leaflet.extra-markers.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="static/css/leaflet.extra-markers.min.css">
</head>

<body>
    <header>
        <h1>Toronto Healthcare Outbreak Tracker</h1>
        
        <!-- Navigation Bar -->
        <nav>
            <a href="{{ url_for('home') }}" class="nav-button">Home</a>
            <a href="{{ url_for('about') }}" class="nav-button">About</a>
            <a href="{{ url_for('dashboard') }}" class="nav-button">Dashboard</a>
            <!-- Add more links as needed -->
        </nav>
    </header>  

    <div class="row">
        <div class="col-md-12"></div>
            <div class="well">
                <h5>Outbreak Map:</h5>
                <div id="map" style="width:800px;height:500px"></div>
            </div>
    </div>
    <div class="row">
        <div class="col-md-2">
          <div class="well">
            <h5>Select a year:</h5>
            <select id="selDataset"></select>
          </div>
        <div class="col-md-5">
            <canvas id="settingsChart"></canvas>
            <div style = "width: 750px; height: 500px;">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- If using html use this path -->
    <!-- <script src="../static/js/avg_outbreak_length_by_institution.js"></script> -->
 <!-- use the follwing path if using flask -->
    <!-- <script src="{{ url_for('static', filename='js/avg_outbreak_length_by_institution.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/outbreak_settings_chart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/outbreak_map_layers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/outbreaks_by_year_season.js') }}"></script>
</body>
</html>
