<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_style.css') }}">
    <title>Outbreaks in Toronto Healthcare Institutions</title>
</head>

<body>
    <!-- Header -->
    <header>
        <h1>Welcome to the Toronto Healthcare Outbreak Tracker</h1>
    

        <!-- Navigation Bar -->
        <nav>
        <a href="{{ url_for('home') }}" class="nav-button">Home</a>
        <a href="{{ url_for('about') }}" class="nav-button">About</a>
        <a href="{{ url_for('dashboard') }}" class="nav-button">Dashboard</a>
        <!-- Add more links as needed -->
        </nav>
    </header>
  <section>
    <hr>
    <h1>Welcome to the Toronto Healthcare Outbreak Tracker: </h1>
    <p>Greetings and welcome to the Toronto Healthcare Outbreak Tracker, 
        a comprehensive initiative aimed at shedding light on outbreaks within healthcare institutions across Toronto. 
        In an era where health plays a pivotal role in our lives, understanding and monitoring the dynamics of outbreaks is more critical than ever.
    </p>
   </section>

  
  
    <section>
        <hr>
        <h2>About the Project:</h2>
        <p>
            At its core, this project serves as a centralized hub for accessing, analyzing, 
            and comprehending data related to outbreaks in healthcare settings throughout the city. 
            Leveraging a rich dataset meticulously curated from Toronto health authorities, 
            our platform offers a user-friendly interface to explore and interpret trends, patterns, and crucial insights.
        </p>
    </section>


    <section>
        <hr>
        <h2>Why Outbreak Monitoring Matters:</h2>
        <p>    
            Healthcare-associated outbreaks pose unique challenges, and their monitoring is essential for safeguarding public health. 
            This project seeks to bridge the gap between data and understanding, empowering healthcare professionals, researchers, policymakers, 
            and the public with actionable information to make informed decisions.
        </p>
    </section>

    
    <section>
        <hr>
        <h2>Scope and Objectives:</h2>
        <p>
            Focused on outbreaks within Toronto healthcare institutions, our project aims to provide a holistic view of the situation. 
            Whether you're a healthcare professional seeking real-time insights or a concerned citizen wanting to stay informed, 
            this platform caters to diverse needs.
        </p>
    </section>

    <section>
        <hr>
        <h2> Data Source:</h2>
        <p>
            Our data is sourced directly from authoritative health channels, 
            ensuring reliability and accuracy. 
            The data is from Toronto open data 
            <a target="_blank" href="https://open.toronto.ca/dataset/outbreaks-in-toronto-healthcare-institutions/">Toronto open data</a>

        </p>
    </section>

    <section>
        <hr>
        <h2>How to Use the Dashboard:</h2>
        <p>
            Our dashboard is designed to be intuitive and user-friendly. 
            The dashboard is divided into three main sections: 
            the map, the charts, and the table. 
            The map provides a visual representation of the data, 
            allowing you to explore outbreaks by location. 
            The charts offer a more in-depth analysis of the data, 
            presenting key insights and trends. 
            Finally, the table provides a comprehensive overview of the data, 
            allowing you to filter and sort the data as needed.
        </p>
    </section>
    

    <section>
        <hr>
        <h2>Explore, Understand, Act:</h2>
        <p>
            We invite you to explore our website, where you'll find a dynamic dashboard 
            presenting visualizations of the data, in-depth analysis sections, and a user-friendly 
            interface for seamless navigation. This is more than a platform—it's a tool for 
            empowerment, designed to inform and inspire action.

        </p>
    </section>

    <section>
        <hr>
        <h2>Meet the Team:</h2>
        <p>
            We are a group of data enthusiasts with a passion for healthcare and a desire to make a difference. 
            Our team is comprised of individuals from diverse backgrounds, 
            each bringing a unique perspective to the table. 
            We are united by a common goal: to leverage data for good and empower our community.
        </p>
    </section>

    <section>
        <hr>
        <h2>Get in Touch:</h2>
        <p>
            We'd love to hear from you! Whether you have a question, comment, or suggestion, 
            we're all ears. Feel free to reach out to us at any time.
        </p>

    </section>

    <section>
        <hr>
        <h2>References:</h2>
        <p>
            <a target="_blank" href="https://open.toronto.ca/dataset/outbreaks-in-toronto-healthcare-institutions/">Toronto open data</a>
        </p>
    </section>

    <section>
        <hr>
        <h2>Disclaimer:</h2>
        <p>
            This project is for educational purposes only. 
            The data presented here is not intended for medical or professional use. 
            We are not responsible for any decisions made based on the information provided on this website.
        </p>
    </section>

</html>
